.mauxanh{
    color: #1aaa1a;
}

.tong{
    width: 70%;
    margin: auto;
}

.itemEmployee{
    background: rgb(0,0,0,0.4);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 0px;
}

.itemEmployee:hover{
    background: blue;
}

.backgroundbutton{
    background: red;
    color: white;
}