<% var n=888;%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test access to database</title>
</head>
<body>
    <h1>Welcome to my website</h1>
    <h1><%= n %></h1>

    <% if(n>=18){ %>
        <h2>Bạn đã đủ tuổi</h2>
    <% }else{ %>
        <h2>Bạn chưa đủ tuổi</h2>
    <% } %>

    <% for(var i=0;i<10;i++){ %>
        <h3>Sản phẩm thứ: <%= i %> </h3>
    <% } %>
</body>
</html>